numpy>=1.21.0
scipy>=1.7.0
matplotlib>=3.5
ipython>=8.0
jupyter
pytest>=7.0
pytest-cov
pytest-runner
setuptools_scm
sphinx>=5.0
sphinx-rtd-theme>=1.0
sphinx-gallery>=0.11
numpydoc>=1.5
nbsphinx>=0.8
pre-commit>=3.0
autopep8
isort>=5.0
black>=23.0
flake8>=6.0
